.task-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.task-title {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
